<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Lanka Job Post</title>
    <meta name="description" content="Lanka Job post is online recruitment managment system for recruitment companies and for the easy use of the applicants.">
    <link rel="stylesheet" href="adminast/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/admin">
                    <div class="sidebar-brand-text mx-3"><span>Lanka Job Post</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/admin"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/admin-jobs"><i class="fas fa-table"></i><span>Jobs</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/admin-applicants"><i class="fas fa-exclamation-circle"></i><span>Applicants</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/signoutAdmin"><i class="fas fa-exclamation-circle"></i><span>Signout</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>  
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
              
            <div class="container-fluid">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-dark mt-3 mb-0">Dashboard</h3></div>
                <div class="row">
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-primary py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Applicants</span></div>
                                        <div class="text-dark font-weight-bold h5 mb-0"><span>
                                            <p th:text="${usersCount}"></p>
                                        </span></div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-users fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-success py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>Hired</span></div>
                                        <div class="text-dark font-weight-bold h5 mb-0"><span>
                                            <p th:text="${hiredUsers}"></p>
                                        </span></div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-user-check fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-warning py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>Pending</span></div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="text-dark font-weight-bold h5 mb-0 mr-3"><span>
                                                <p th:text="${pendingUsers}"></p>
                                                </span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-danger py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="text-uppercase text-danger font-weight-bold text-xs mb-1"><span>Rejected</span></div>
                                                <div class="text-dark font-weight-bold h5 mb-0"><span>
                                            <p th:text="${rejectedUsers}"></p>
                                            </span></div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-user-times fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            <div class="row">
                <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-primary">New Applicants</h4>
                    </div>
                    <div class="card-body">
                        <table class="table text-center">
                            <tbody>
                                <tr>
                                    <th>Name</th>
                                    <th>Job</th>
                                    <th>Status</th>
                                </tr>
                            </tbody>
								<tr th:each="user:${newUsers}">
									<td th:text="${user.getUser.fName}+' '+${user.getUser.lName}"></td>
									<td th:text="${user.getJob.title}"></td>
									<td th:switch="${user.status}">
										<p th:case="0">Pending</p>
										<p th:case="1">Hired</p>
										<p th:case="-1">Rejected</p>
									</td>
								</tr>
                        </table>
                    </div>
                </div>
            </div>
            </div>
    <footer class="bg-white sticky-footer">
        <div class="container my-auto">
            <div class="text-center my-auto copyright"><span>Copyright © Lanka Job Post 2019</span></div>
        </div>
    </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="adminast/js/script.min.js"></script>
</body>

</html>