
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
            />
        <title>Jobs- Lanka Job Post</title>
        <meta
            name="description"
            content="Lanka Job post is online recruitment managment system for recruitment companies and for the easy use of the applicants."
            />
        <link rel="stylesheet" href="adminast/bootstrap/css/bootstrap.min.css" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            />
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
            />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body id="page-top">

	<script th:if="${jobIsAdded}==1">
		$(document).ready(function () {
			$("#modal-success").modal();
         });
	</script>
	<script th:if="${jobIsAdded}==0">
		$(document).ready(function () {
			$("#modal-danger").modal();
         });
	</script>

        <div id="wrapper">
            <nav
                class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0"
                >
                <div class="container-fluid d-flex flex-column p-0">
                    <a
                        class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
                        href="/admin"
                        >
                        <div class="sidebar-brand-text mx-3">
                            <span>Lanka Job Post</span>
                        </div>
                    </a>
                    <hr class="sidebar-divider my-0" />
                    <ul class="nav navbar-nav text-light" id="accordionSidebar">
	                    <li class="nav-item" role="presentation"><a class="nav-link" href="/admin"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
	                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/admin-jobs"><i class="fas fa-table"></i><span>Jobs</span></a></li>
	                    <li class="nav-item" role="presentation"><a class="nav-link" href="/admin-applicants"><i class="fas fa-exclamation-circle"></i><span>Applicants</span></a></li>
	                    <li class="nav-item" role="presentation"><a class="nav-link" href="/signoutAdmin"><i class="fas fa-exclamation-circle"></i><span>Signout</span></a></li>
                	</ul>
                    <div class="text-center d-none d-md-inline">
                        <button
                            class="btn rounded-circle border-0"
                            id="sidebarToggle"
                            type="button"
                            ></button>
                    </div>
                </div>
            </nav>
            <div class="d-flex flex-column" id="content-wrapper">
                <div id="content" class="container-fluid">
                    <div class="row" style="margin-top: 100px;">
                        <div class="col mr-5">
                            <div class="float-right">
                                <input
                                    type="button"
                                    class="btn btn-outline-primary"
                                    value="CREATE JOB"
                                    data-toggle="modal"
                                    data-target="#exampleModalLong"
                                    />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;;">
                        <div class="col mr-4 ml-4">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="text-primary">Jobs</h4>
                                    <form
                                        class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
                                        >
                                        <div class="input-group">
                                            <input
                                                class="bg-gray-200 form-control border-0 small"
                                                type="text"
                                                placeholder="Search for ..."
                                                id="myInput"
                                                />
                                            <div class="input-group-append">
                                                <i class="fas fa-search py-2 btn btn-primary "></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-body">
                                    <table class="table text-center">
                                        <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Category</th>
                                                <th>Location</th>
                                                <th>Salary</th>
                                            </tr>
                                        </thead>
                                        <tbody id="myTable">
                                        <tr th:each="job:${allJobs}" >
                                        <td th:text="${job.title}"></td>
                                        <td th:text="${job.catgo}"></td>
                                        <td th:text="${job.location}"></td>
                                        <td th:text="${job.salary}"></td>
                                        </tr>  
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div
                    class="modal fade"
                    id="exampleModalLong"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="exampleModalLongTitle"
                    aria-hidden="true"
                    >
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">
                                    CREATE JOB
                                </h5>
                                <button
                                    type="button"
                                    class="close"
                                    data-dismiss="modal"
                                    aria-label="Close"
                                    >
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="/admin-jobs" method="POST" class="mx-2">
                                    <div class="form-group">
                                        <label for="forTitle">Title *</label>
                                        <input
                                            type="text"
                                            name="title"
                                            id="forTitle"
                                            placeholder="Tilte"
                                            class="form-control"
                                            required
                                            />
                                    </div>
                                    <div class="form-group">
                                        <label for="forcatgo">Category *</label>
                                        <select name="catgo" class="form-control" id="forcatgo" required>
                                            <option value="technology">Technology</option>
                                            <option value="development">Development</option>
                                            <option value="medical">Medical</option>
                                            <option value="accounting">Accounting</option>
                                            <option value="government">Government</option>
                                            <option value="media">Media & News</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="forSalary">Salary *</label>
                                        <input
                                            class="form-control"
                                            type="text"
                                            name="salary"
                                            id="forSalary"
                                            placeholder="Salary"
                                            required
                                            />
                                    </div>
                                    <div class="form-group">
                                        <label for="forlocation">Location *</label>
                                        <input
                                            class="form-control"
                                            type="text"
                                            name="location"
                                            id="forlocation"
                                            placeholder="Location"
                                            required
                                            />
                                    </div>
                                    <div class="form-group">
                                        <label for="forDate"> Expire at(Date) *</label>
                                        <input
                                            type="date"
                                            class="form-control"
                                            name="exdate"
                                            id="forDate"
                                            required
                                            />
                                    </div>
                                    <div class="form-group">
                                        <label for="forDesc">Description *</label>
                                        <textarea
                                            class="form-control"
                                            name="desciption"
                                            id="forDesc"
                                            cols="30"
                                            rows="5"
                                            required
                                            ></textarea>
                                    </div>

                            </div>
                            <div class="modal-footer">
                                <button
                                    type="button"
                                    class="btn btn-secondary"
                                    data-dismiss="modal"
                                    >
                                    Close
                                </button>
                                <button type="submit" name="submit" class="btn btn-primary">
                                    Save changes
                                </button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--Success Modal-->
                <div id="modal-success" class="modal modal-message modal-success fade" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header text-center" style="padding-left: 47.5%;padding-right:52.5%;border-bottom: 3px solid #a0d468; ">
                                <i class="far fa-2x fa-check-circle " style="color:#17A673;"></i>
                            </div>
                            <div class="modal-title text-center"><h4>Success</h4></div>
                            <div class="modal-body text-center">New Job Added Successfuly.</div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                            </div>
                        </div> <!-- / .modal-content -->
                    </div> <!-- / .modal-dialog -->
                </div>
                <!--Danger Modal Templates-->
                <div id="modal-danger" class="modal modal-message modal-danger fade" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style=" color: #d73d32;border-bottom: 3px solid #e46f61;padding-left: 47.5%;padding-right:52.5%;">
                                <i class="fas fa-2x fa-exclamation-circle"></i>
                            </div>
                            <div class="modal-title text-center"><h4>Unsuccess</h4></div>

                            <div class="modal-body text-center">Something went wrong while adding job.try again</div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                            </div>
                        </div> <!-- / .modal-content -->
                    </div> <!-- / .modal-dialog -->
                </div>
                <footer class="bg-white sticky-footer">
                    <div class="container my-auto">
                        <div class="text-center my-auto copyright">
                            <span>Copyright © Lanka Job Post 2021</span>
                        </div>
                    </div>
                </footer>
            </div>
            <a class="border rounded d-inline scroll-to-top" href="#page-top"
               ><i class="fas fa-angle-up"></i
                ></a>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
        <script src="adminast/js/script.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#myInput").on("keyup", function () {
                    var value = $(this)
                            .val()
                            .toLowerCase();
                    $("#myTable tr").filter(function () {
                        $(this).toggle(
                                $(this)
                                .text()
                                .toLowerCase()
                                .indexOf(value) > -1
                                );
                    });
                });
            });
        </script>
    </body>
</html>
