<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Page Not Found - Lanka Job Post</title>
    <meta name="description" content="Lanka Job post is online recruitment managment system for recruitment companies and for the easy use of the applicants.">
   <link rel="stylesheet" href="css/bootstrap.css">
    <style>
        #main {
            margin-top: 40vh;
        }
    </style>
</head>

<body>
<div class="d-flex justify-content-center align-items-center" id="main">
    <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">404</h1>
    <div class="inline-block align-middle">
        <h2 class="font-weight-normal lead" style="font-size: 25px;" id="desc">The page you requested was not found.</h2>
        <p class="font-weight-light">Lanka Job Post</p>
    </div>
</div>
<div class="d-flex justify-content-center align-items-center">
    <a href="/home" class="btn btn-primary">Back to home</a>
</div>

</body>

</html>